* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section{
    flex: 1;
    h2,h3{
        margin: 0;
    }
}
.container {
    width: 80vw;
    margin: auto;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    border: 2px solid salmon;
    margin-bottom: 2vw;
    background-color: #fafafa;
}

.navbar_menu {
    padding: 1vw;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1vw;
    li {
        font-size: 1.5em;
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    .nabvar_menu-divider {
        font-weight: bold;
    }
}

.receta{
    margin: 3vw auto;
    border: 2px solid burlywood;
    padding: 2vw;
    border-radius: 5vw 0 5vw 0;
    ol{
        margin: 0;
    }
    .titulo_receta{
        text-align: center;
    }
}
.img_receta_wrapper {
    height: 10vh;
    padding: 0 10%;
    min-height: 55px;
    overflow: hidden;
    margin: 1vw 0;
    .img_receta {
        width: 100%;
        display: block;
    }
}
.footer {
    font-size: 1.5em;
    text-align: center;
    padding: 1vw;
    margin: 0;
    width: 100%;
    border-top: 2px solid salmon;
    background-color: #fafafa;
}